html {
	margin: 0 auto;
  font-family: Segoe UI;
}
body {
  margin: 0 auto;
	min-width: fit-content;
	box-sizing: border-box;
	max-height: 29.6cm;
}
header {
	z-index: 1;
  background-image:url("image/header-background.PNG");
	background-size: cover;
	background-position: center 50%;

	text-align: center;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-height: 5cm;

	page-break-after: avoid;
}

#titre-head{
	display:inline-block;;
	background-color: rgba(240,240,240,0.42);
	border-style: solid;
	border-radius: 200px;
	border-width: 2px;
	text-align: center;
	padding: 1%;
}
#infohead {
	display: flex;
	align-items: center;
}
#CP-head, #coord-head, #copyright {
  background-color: rgba(240, 240, 240, 0.64);
  border-radius: 4px;
  width: max-content;
  max-width: 100%;
  padding: 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

p {
	margin: 1%;
	width: auto;
}

h2, h3 {
	margin-left: 1%;
}

body {
	display: grid ;
	grid-template-rows: 5cm 1fr;
}


header {
	grid-row: 1/
}

main {
	grid-row: 2;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 28vh 3cm;

	max-height: 29.6cm ;
}

#Thématiques {
	grid-column: 1 ;
	grid-row: 2 span;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#Galery {
	grid-column: 2;
	grid-row: 1;
}

#Géographie {
grid-column: 2;
grid-row: 2 ;
display: flex;
flex-direction: column;
justify-content: space-between;
}

#footer {
	grid-column: 1 / -1;
	grid-row-end: -1;
/*	page-break-after: always;
	page-break-before: avoid;*/
	text-align: center;
}

/*footer > div {
	text-align: center;
}*/

nav{
	display: none;
}
#Form-div {
	display: none;
}

#photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img {
  width: 30%;
  margin: 6px;
  text-align: center;
	object-fit: cover;
	border: 2px solid #ccc;
	border-radius: 1px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.img > img {
  max-width: 90%;
	margin-top: 1%;
  height: auto;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tgeo {
	border-style: ridge;
	grid-column: 1;
	margin: 3px;
}

#tgeo > th {
	border: 1px solid black;
}

.tbcelle {
		text-align: center;
		border: 1px solid black;
}

#map {
	grid-column: 2 span;
	grid-rows: 2;
	margin: 0 auto;
	height: 3cm;
	max-height: 0 auto;
	border-style: ridge;
	margin:3px;
	z-index:0;
	/*display: none;*/
}
